.div-image{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
[placeholder-image="default"]{
    background-image: url('../../../images/placeholder-image.png');
    /* background-color: #efefef; */
}
.ratio69::before{
    content: "";
    display: block;
    padding-bottom: calc(calc(6 / 9) * 100%);
    /* background-color: black; */
}